#def 함수

In [3]:
def func1():    # def 함수의 이름(); 함수 정의의 시작, 함수호출
    print('BlockDMask')

func1()

BlockDMask

In [4]:
'''
def 함수이름(매개변수1, 매개변수2, ... ): 
    수행문장
'''
def func2(a, b):   #a,b는 매개변수
    print(f'{a} 곱하기 {b} = {a * b}') # 수행문장
 
func2(1, 2) #1,2를 인수라고 함
func2(1, 3)
func2(2, 4)

1 곱하기 2 = 2
1 곱하기 3 = 3
2 곱하기 4 = 8

In [5]:
'''
def 함수이름():
    수행문장
    return 반환값
'''

def func3():
    return "abcdefg"
 
a = func3()    # func3() 함수를 호출하고 그 앞에 = 을 통해서 변수를 선언, 변수 a를 통해서 func3()의 반환 값을 이용가능
print(a + "GG")

abcdefgGG

In [6]:
'''
def 함수이름(매개변수1, 매개변수2 ...):
    수행문장
    return 반환값
'''

def func4(a, b):
    return a * b
 
 
c = func4(3, 9)
print(c)

27

In [7]:
# 구구단 함수 버전
def gugudan(num):
    for i in range(1, 10):
        print(f'{num} x {i} = {num * i}')
 
# 구구단 출력
gugudan(2)
gugudan(3)
# ...
gugudan(9)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [9]:
# * :  여러 개의 인수를 받을 때, 키워드 인수를 받을 때 사용

def func6(*args): #args는 아규먼트(arguments)의 축약어, N개의 매개변수를 표현할때 args를 사용
    a = 0
    for i in args: 
        a = a + i
    return a
 
 
b = func6(1, 2)
print(b)
 
c = func6(2, 3, 4, 5)
print(c)
 
d = func6(1, 2, 3, 4, 5, 4, 3, 2, 1)
print(d)
 
e = func6()
print(e)

3
14
25
0

# for문

In [12]:
'''
for문의 기본구조

for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...

['one', 'two', 'three'] 리스트의 첫 번째 요소인 'one'이 
먼저 i 변수에 대입된 후 print(i) 문장을 수행한다. 
다음에 두 번째 요소 'two'가 i 변수에 대입된 후 print(i) 문장을 
수행하고 리스트의 마지막 요소까지 이것을 반복한다.

'''

test_list = ['one', 'two', 'three'] 
for i in test_list: 
     print(i)

one
two
three

In [14]:
'''
a 리스트의 요솟값이 튜플이기 때문에 각각의 요소가 
자동으로 (first, last) 변수에 대입된다.
'''

a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
     print(first + last)

3
7
11

In [ ]:
# for문의 응용
"총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 합격이고
그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오."

In [15]:
#5명의 시험 점수 리스트
score = [90, 25, 67, 45, 80]

In [19]:
'''
각각의 학생에게 번호를 붙이기 위해 number 변수를 사용
점수 리스트 score에서 차례로 점수를 꺼내어 score라는 변수에 대입하고 
for문 안의 문장들을 수행한다. 
for문이 한 번씩 수행될 때마다 number는 1씩 증가한다.

score가 60 이상일 때 합격 메시지를 출력하고 60을 넘지 않을 때 
불합격 메시지를 출력한다.
'''
score1 = [90, 25, 67, 45, 80]

number = 0 
for score in score1: 
    number = number +1 
    if list >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 합격입니다.

In [21]:
'''
for문과 continue

while문에서 살펴본 continue문을 for문에서도 사용할 수 있다. 
즉 for문 안의 문장을 수행하는 도중에 continue문을 만나면 
for문의 처음으로 돌아가게 된다.

점수가 60점 이하인 학생일 경우에는 score < 60이 참이 되어 
continue문이 수행된다. 
따라서 축하 메시지를 출력하는 부분인 print문을 수행하지 않고 
for문의 처음으로 돌아가게 된다.
'''

score = [90, 25, 67, 45, 80]

number = 0 
for score in score1: 
    number = number +1 
    if score < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [31]:
'''
for문과 함께 자주 사용하는 range 함수

range(10)은 0부터 10 미만의 숫자
'''

a = range(10) #시작 숫자와 끝 숫자를 지정하는 range(시작 숫자, 끝 숫자) 형태
a
range(0, 10)

range(0, 10)

In [33]:
'''
range(1, 11)은 숫자 1부터 10까지(1 이상 11 미만)의 숫자를 데이터로 갖는 객체
i 변수에 리스트의 숫자가 1부터 10까지 하나씩 차례로 대입되면서 
add = add + i 문장을 반복적으로 수행하고 
add는 최종적으로 55가 된다.
'''

add = 0 
for i in range(1, 11): 
     add = add + i 
 
print(add)

55

In [35]:
'''
len 함수는 리스트 안의 요소 개수를 돌려주는 함수이다. 
따라서 len(score1)는 5가 될 것이고 
range(len(score1))는 range(5)가 될 것이다. 
number 변수에는 차례로 0부터 4까지의 숫자가 대입될 것이고, 
score1[number]는 차례대로 90, 25, 67, 45, 80 값을 갖게 된다. 
'''
score = [90, 25, 67, 45, 80]
for number in range(len(score1)):
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [39]:
'''
for문을 두 번 사용했다. ①번 for문에서 2부터 9까지의 숫자(range(2, 10))가 
차례로 i에 대입된다. 
i가 처음 2일 때 ②번 for문을 만나게 된다. 
②번 for문에서 1부터 9까지의 숫자(range(1, 10))가 j에 대입되고 
그다음 문장 print(i*j)를 수행한다.

따라서 i가 2일 때 2*1, 2*2, 2*3, … 2*9까지 차례로 수행되며 
그 값을 출력하게 된다. 
그 다음으로 i가 3일 때 역시 2일 때와 마찬가지로 수행될 것이고 
i가 9일 때까지 계속 반복된다.
'''

for i in range(2,10):      # ①번 for문
  for j in range(1, 10):   # ②번 for문
    print(i*j, end=" ") 
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
'''
[위에서 매개변수 end를 넣어 준 이유는]
print(i*j, end=" ")와 같이 매개변수 end를 넣어 준 이유는 
해당 결괏값을 출력할 때 다음줄로 넘기지 않고 그 줄에 
계속해서 출력하기 위해서이다. 
그다음에 이어지는 print(' ')는 2단, 3단 등을 구분하기 위해 
두 번째 for문이 끝나면 결괏값을 다음 줄부터 출력하게 해주는 문장이다.
'''

In [42]:
'''
a 리스트의 각 항목에 3을 곱한 결과를 result 리스트에 담는 경우
for문 사용
'''

a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [47]:
'''
[1,2,3,4] 중에서 짝수에만 3을 곱하여 담고 싶다면 
리스트 내포 안에 "if 조건"을 사용할 수 있다.
'''

a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [51]:
'''
 for문을 2개 이상 사용하는 경우

 [표현식 for 항목1 in 반복가능객체1 if 조건문1
        for 항목2 in 반복가능객체2 if 조건문2
        ...
        for 항목n in 반복가능객체n if 조건문n]

>>> 구구단의 예:
'''

result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]